// CREATE MIXINS FOR YOUR FONTS HERE
/* E.G:

// 400, 600, 700
@mixin FONT_NAME($weight:400,$style:normal) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $weight;
    font-style: $style;
}

USEAGE (WILL PRODUCE BOLD ITALIC):
@include FONT_NAME(700, italic);

YOU MIGHT ALSO WANT TO SET UP A CLASS FOR EASILY CHANGING THE FONT OF A SPECIFIC ELEMENT:
.FONT_NAME {
    @include FONT_NAME;
}

*/
